<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(references)/([^/\.]+)/print/?$ /index.php?section=$1&chart=$2&print=true [L]
    RewriteRule ^([^/\.]+)/([^/\.]+)/print/?$ /index.php?section=$1&article=$2&print=true [L]
    RewriteRule ^([^/\.]+)/print/?$ /index.php?section=$1&print=true [L,QSA]

    RewriteRule ^(references)/([^/\.]+)/?$ /index.php?section=$1&chart=$2 [L]
    RewriteRule ^([^/\.]+)/([^/\.]+)/?$ /index.php?section=$1&article=$2 [L]
    RewriteRule ^([^/\.]+)/?$ /index.php?section=$1 [L,QSA]
</IfModule>
